@model MyFinance.Domain.Entities.AccountEntity
@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="table-responsive">
        @{
            decimal total = 0.0M;
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th></th>
                <th>@Html.LabelFor(model => model.NomeConta)</th>
                <th>@Html.LabelFor(model => model.Saldo)</th>
                <th>@Html.LabelFor(model => model.AccountType)</th>
                <th>@Html.LabelFor(model => model.DescriptionAccount)</th>

            </tr>
        </thead>
        
                <tbody>
            @foreach (var item in (List<MyFinance.Domain.Entities.AccountEntity>)ViewBag.ListaConta)
            {
                total += item.Saldo;
                    <tr>
                        <td>
                            <button class="btn btn-danger" type="submit" onclick="ExcluirConta(@item.Id)">
                                Excluir
                                <i class="material-icons" style="color:#fff;">delete_forever</i>
                            </button>
                        </td>

                        <td>@item.NomeConta.ToString()</td>
                        <td>R$ @((double)item.Saldo)</td>
                        <td>@item.AccountType.ToString()</td>
                        @if (String.IsNullOrEmpty(item.DescriptionAccount))
                        {
                            <td>Sem anotações</td>

                        }
                        else
                        {
                            <td>@item.DescriptionAccount.ToString()</td>
                        }
                    </tr>

            }
                </tbody>
                <tfoot>
                    <tr>
                        <th><strong>Valor Total</strong></th>

                        <th>R$ @((double)total)</th>
                    </tr>
                </tfoot>

    </table>
        }
</div>

<br />


<script>
    function ExcluirConta(id_conta) {
        window.location.href = "../Account/ExcluirConta/" + id_conta;
    }
</script>