
@model MyFinance.Domain.Entities.AccountEntity

@{
    ViewData["Title"] = "NovaConta";
}



@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@using (Html.BeginForm("NovaConta", "Account", FormMethod.Post))
{
    <fieldset>
        <legend>Nova Conta</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.NomeConta, htmlAttributes: new { @class = "control-label col-md-2", @data_val = "true", @required = "required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomeConta, new { htmlAttributes = new { @class = "form-control", @data_val="true", @required="required" } })
                @Html.ValidationMessageFor(model => model.NomeConta, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Saldo, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                @Html.ValidationMessageFor(model => model.Saldo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.TypeAccountEnum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="TypeAccountEnum" asp-items="Html.GetEnumSelectList<MyFinance.Domain.Entities.Enums.AccountTypeEnum>()"></select>

            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescriptionAccount, new { htmlAttributes = new { @class = "form-control", @data_val = "true", @required = "required" } })
                @Html.ValidationMessageFor(model => model.DescriptionAccount, "", new { @class = "text-danger" })
            </div>
        </div>



        <button type="submit" class="btn btn-success">Criar</button>
    </fieldset>
}