@model IEnumerable<MyFinance.Domain.Entities.CashFlowEntity>
@*@model MyFinance.Domain.Entities.CashFlowEntity*@

@{
    if (ViewBag.ListaFluxo != null)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th> @Html.DisplayNameFor(model => model.Descricao)</th>
                        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                        <th>@Html.DisplayNameFor(model => model.ValueCash)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                        <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                        <th>@Html.DisplayNameFor(model => model.ValueCash)</th>
                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                    </tr>
                </tfoot>

                @foreach (var item in (List<MyFinance.Domain.Entities.CashFlowEntity>)ViewBag.ListaFluxo)
                {
                    <tbody>
                        <tr>
                            <td>

                                <button type="button" class="btn bg-teal waves-effect" data-toggle="modal" data-target="#EditarPlanoConta" onclick="EditarPlanoConta(@item.Id)">Editar</button>
                            </td>

                            <td>
                                <button class="btn btn-danger" type="submit" onclick="ExcluirConta(@item.Id)">
                                    Excluir
                                    <i class="material-icons" style="color:#fff;">delete_forever</i>
                                </button>
                            </td>

                            <td>@item.Descricao.ToString()</td>
                            <td>@item.Tipo.ToString().Replace("D", "Despesa").Replace("R", "Receita")</td>
                            <td>@item.ValueCash</td>
                            <td>@item.Category</td>
                        </tr>

                    </tbody>
                }





            </table>
        </div>

    }

    else
    {
        <div>TESTE</div>
    }

    @*<script>
        function ExcluirConta(id_conta) {
            window.location.href = "../PlanoConta/ExcluirPlanoConta/" + id_conta;
        }
    </script>*@

    @*<script>
        function EditarPlanoConta(id_conta) {
            window.location.href = "../PlanoConta/CriarPlanoConta/" + id_conta;
        }
    </script>*@


}
