@model ReflectionIT.Mvc.Paging.PagingList<MyFinance.Domain.Entities.CashFlowEntity>
<html>
<head>

</head>

<body>
    @{
        <div>
            <vc:pager paging-list="@Model"></vc:pager>
        </div>
        var totalDespesa = ViewBag.Despesa;
        var totalReceita = ViewBag.Receita;

        <table class="table" id="tableDespesaReceita">
            <thead>
                <tr>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ValueCash)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </th>

                    <th>
                        <label for="md_checkbox_29"> @Html.DisplayNameFor(model => model.IsPago)</label>
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in (List<MyFinance.Domain.Entities.CashFlowEntity>)ViewBag.ListaDespesaReceita)

                {

                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>

                        <td>
                            R$  @Convert.ToDouble(item.ValueCash)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentDate)
                        </td>

                        <td>
                            <input type="checkbox" id="md_checkbox_30" class="filled-in chk-col-green" @(item.IsPago ? "checked='checked'" : "") disabled>

                            <label for="md_checkbox_30"></label>
                        </td>

                        <td>

                            <button type="button" class="btn bg-teal waves-effect" data-toggle="modal" data-target="#DetalhePlanoConta" onclick="DetalhePlanoConta(@item.Id)" id="editButton">Detalhe</button>
                        </td>

                        <td>
                            <button class="btn btn-danger waves-effect" type="button" data-toggle="modal" data-target="#DeleteConfirmation" onclick="ExcluirConta(@item.Id)" id="deleteButton">
                                Excluir<i class="material-icons" style="color:#fff;">delete_forever</i>
                            </button>

                        </td>

                    </tr>

                }
            </tbody>
            <tfoot>

                @{
                    if (totalDespesa > 0.0M)
                    {
                        <tr>
                            <th><strong>@Html.DisplayNameFor(model => model.ValorTotalDespesa)</strong></th>

                            <th>
                                R$ @Convert.ToDouble(totalDespesa)

                            </th>
                        </tr>
                    }
                    if (totalReceita > 0.0M)
                    {
                        <tr>
                            <th><strong>@Html.DisplayNameFor(model => model.ValorTotalReceita)</strong></th>

                            <th>
                                R$ @Convert.ToDouble(totalReceita)

                            </th>
                        </tr>
                    }
                }

            </tfoot>
        </table>

        <div id="modalResult">
            <div class="modal fade" id="DetalhePlanoConta" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content modal-col-teal">
                        <div class="modal-header">
                            <h5 class="modal-title" id="DetalhesModalLabel">Detalhes</h5>
                            <hr />
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="renderEditView"></div>


                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">OK</button>
                            @*<button type="button" class="btn btn-link waves-effect" data-dismiss="modal" id="confirmed_btn">Yes</button>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DeleteModal">
        </div>
    }

</body>
</html>