@model IEnumerable<MyFinance.Domain.Entities.CashFlowEntity>

@{

//if (ViewBag.ListaDespesaReceita != null)
//{
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ValueCash)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model)*@
                @foreach (var item in (List<MyFinance.Domain.Entities.CashFlowEntity>)ViewBag.ListaDespesaReceita)

                    {
                        <tr>
                            <td >
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td >
                            <td >
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td >

                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ValueCash)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                            <td>

                                <button type = "button" class="btn bg-teal waves-effect" data-toggle="modal" data-target="#EditarPlanoConta" onclick="EditarPlanoConta(@item.Id)">Editar</button>
                            </td>

                            <td>
                                <button class="btn btn-danger" type="submit" onclick="ExcluirConta(@item.Id)">
                                    Excluir
                                    <i class="material-icons" style="color:#fff;">delete_forever</i>
                                </button>
                            </td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id/* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id/* id=item.PrimaryKey */ }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id/* id=item.PrimaryKey */ })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            @*}
    else
    {
        <div>TESTE</div>
    }*@
                }

