@model TransacaoModel

@{
    ViewData["Title"] = "Registrar transação";

    var vId = 0;
    var vData = "";
    var vTipo = "";
    var vDescricao = "";
    var vValor = 0.0;
    var vIdConta = 0;
    var vPlanoContaId = 0;


    try
    {
        vId = int.Parse(@ViewBag.Registro.idTransacao.ToString());
        vData = DateTime.Parse(@ViewBag.Registro.Data_Transacao.ToString()).ToString("dd-MM-yyyy");
        vTipo = @ViewBag.Registro.Tipo_Transacao.ToString();
        vDescricao = @ViewBag.Registro.Descricao_Transacao.ToString();
        vValor = double.Parse(@ViewBag.Registro.Valor_Transacao.ToString());
        vIdConta = int.Parse(@ViewBag.Registro.Conta_idConta.ToString());
        vPlanoContaId = int.Parse(@ViewBag.Registro.Plano_Contas_idPlano_Contas.ToString());
        
    }
    catch{}
}





@using (Html.BeginForm("Registrar", "Transacao", FormMethod.Post))
{
    <input type="hidden" asp-for="idTransacao" value="@vId" />
    <fieldset>
        <legend>Transacao</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Data_Transacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="col-sm-3 datepicker" asp-for="Data_Transacao" value="@vData" />
                @Html.ValidationMessageFor(model => model.Data_Transacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_Transacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="demo-radio-button">

                    @{if (vTipo == "R")
                        {
                            <div class="radio">
                                <input asp-for="Tipo_Transacao" value="Receita" type="radio" class="with-gap" id="radio_3" checked />
                                <label for="radio_3">Receita</label>
                            </div>

                            <div class="radio">
                                <input asp-for="Tipo_Transacao" value="Despsa" type="radio" id="radio_4" class="with-gap" unchecked />
                                <label for="radio_4">Despesa</label>
                            </div>
                        }
                        else
                        {
                            <div class="radio">
                                <input asp-for="Tipo_Transacao" value="Receita" type="radio" class="with-gap" id="radio_3" unchecked />
                                <label for="radio_3">Receita</label>
                            </div>

                            <div class="radio">
                                <input asp-for="Tipo_Transacao" value="Despsa" type="radio" id="radio_4" class="with-gap" checked />
                                <label for="radio_4">Despesa</label>
                            </div>
                        }

                    }

                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor_Transacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" class="col-sm-4" asp-for="Valor_Transacao" value="@vValor" />
                @Html.ValidationMessageFor(model => model.Valor_Transacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao_Transacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<textarea rows="5" class="col-sm-6" asp-for="Descricao_Transacao">@vDescricao</textarea>*@
                @Html.TextArea("Descricao_Transacao",vDescricao, new { @class = "col=sm-12"})
                @Html.ValidationMessageFor(model => model.Descricao_Transacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conta_idConta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <select class="selectpicker" data-live-search="true" asp-for="Conta_idConta">
                    @{
                        foreach (var item in (List<ContaModel>)ViewBag.ListaContas)
                        {
                            if (item.idConta.ToString() == @vIdConta.ToString())
                            {
                                <option selected value="@item.idConta.ToString()">@item.NomeConta.ToString()</option>
                            }
                            else
                            {
                                <option value="@item.idConta.ToString()">@item.NomeConta.ToString()</option>
                            }
                        }
                    }

                </select>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Plano_Contas_idPlano_Contas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="form-group">
                <select class="selectpicker" data-live-search="true" asp-for="Plano_Contas_idPlano_Contas">
                    @{
                        foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
                        {
                            if (item.idPlano_Contas == @vPlanoContaId)
                            {
                                <option selected value="@item.idPlano_Contas.ToString()">@item.Descricao.ToString()</option>

                            }
                            else
                            {
                                <option value="@item.idPlano_Contas.ToString()">@item.Descricao.ToString()</option>

                            }
                        }
                    }

                </select>

            </div>
        </div>

        @{
            if (@vId == 0)
            {
                <button type="submit" class="btn btn-success">Criar</button>
            }
            else
            {
                <button type="submit" class="btn btn-success">Editar</button>
            }
        }

    </fieldset>
}