@model MyFinance.Domain.Entities.CashFlowEntity


<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>@Html.LabelFor(model => model.Tipo)</th>
                <th>@Html.LabelFor(model => model.Descricao)</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>@Html.LabelFor(model => model.Tipo)</th>
                <th>@Html.LabelFor(model => model.Descricao)</th>
            </tr>
        </tfoot>
        @{
            foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoConta)
            {
                <tbody>
                    <tr>
                        <td>

                            <button type="button" class="btn bg-teal waves-effect" data-toggle="modal" data-target="#EditarPlanoConta" onclick="EditarPlanoConta(@item.idPlano_Contas)">Editar</button>
                        </td>

                        <td>
                            <button class="btn btn-danger" type="submit" onclick="ExcluirConta(@item.idPlano_Contas)">
                                Excluir
                                <i class="material-icons" style="color:#fff;">delete_forever</i>
                            </button>
                        </td>

                        <td>@item.Tipo.ToString().Replace("D", "Despesa").Replace("R", "Receita")</td>
                        <td>@item.Descricao.ToString()</td>
                    </tr>

                </tbody>
            }
        }

    </table>
</div>

<br />


<script>
    function ExcluirConta(id_conta) {
        window.location.href = "../PlanoConta/ExcluirPlanoConta/" + id_conta;
    }
</script>

<script>
    function EditarPlanoConta(id_conta) {
        window.location.href = "../PlanoConta/CriarPlanoConta/" + id_conta;
    }
</script>

