@model ContaModel
@{
    ViewData["Title"] = "Index";
}

<h4>Contas</h4>



<table class="table-hover table-responsive">
    <thead>
        <tr>
            <th class="text-center"></th>
            <th class="text-center"></th>
            <th class="text-center">@Html.LabelFor(model => model.idConta, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th class="text-center">@Html.LabelFor(model => model.NomeConta, htmlAttributes: new { @class = "control-label col-md-2" })</th>
            <th class="text-center">@Html.LabelFor(model => model.Saldo, htmlAttributes: new { @class = "control-label col-md-2" })</th>
        </tr>
    </thead>


    @{
        foreach (var item in (List<ContaModel>)ViewBag.ListaConta)
        {
            <tbody>
                <tr>
                    <td class="text-center control-label col-md-2">
                        <button type="button" class="btn btn-primary"><i class="fas fa-edit img-rounded"></i></button>
                    </td>
                    <td class="text-center control-label col-md-2">
                        <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </td>
                    <td class="text-center control-label col-md-2">
                        @item.idConta.ToString()
                    </td>
                    <td class="text-center control-label col-md-2">
                        @item.NomeConta.ToString()
                    </td>
                    <td class="text-center control-label col-md-2">
                        R$ @item.Saldo.ToString()
                    </td>
                </tr>
            </tbody>
        }
    }
</table>
<br />
<div><p><button class="btn btn-success" onclick="CriarConta()"><i class="fas fa-plus-circle success"></i> Nova Conta</button></p></div>

<script>
    function CriarConta() {
        window.location.href = "../Conta/NovaConta";
    }
</script>